body{
    margin: 0;
    background-image:url(../img/dipartimento1.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: helvetica;
}

#corpoPiano{
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.49);
}

ul{
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
}
.card{
    margin: 2em 5%;
    width: auto;
    padding: 5%;
    background-color: #1E88E5;
    text-align: center;
    border-radius: 1.5em;
    overflow: hidden;
    box-shadow: 0.2em 0.2em 2em black;
}

h1{
    font-size: 7em;
    margin: 0.5em;
}

p{
    font-size: 4em;
    margin: 0.5em;
}