body{
            margin: 0;
            font-family: helvetica;
        }

        #corpoPiano{
            min-width: 180px;
            padding: 25px;
            background-color: rgba(255, 255, 255, 0.49);
        }

        ul{
            padding: 0;
            margin: 0;
        }

        li{
            list-style: none;
            min-width: 250px;
        }
        .card{
            margin: 1em 5%;
            width: auto;
            padding: 5%;
            background-color: #5ec9c5;
            text-align: center;
            box-shadow: 1px 1px 2px gray;
            overflow: hidden;
            border-radius: 2px;
        }

        h1{
            font-size: 2.5em;
            margin: 0.2em;
        }

        p{
            font-size: 1.5em;
            margin: 0.2em;
        }